{% extends "layout.html" %}
{% block content %}
<h1>Update Membership Information </h1>

<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{ member.age }}">
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ member.gender }}">
        <label for="level">Level:</label>
        <input type="text" id="level" name="level" value="{{ member.level }}">  
        <input type="submit">
    </div>
</form>

{% endblock %}
