{% extends "layout.html" %}
{% block content %}

<h1> Members Page</h1>

{% for member in members %}
<section>
    <p>Name - {{ member.name }} </p>
    <p>Age - {{ member.age }} </p>
    <p>Gender - {{ member.gender}} </p> 
    <p>Type of Membership - {{ member.level }}</p>
    <button><a href="/members/{{ member.id }}/edit">Edit Membership</a></button>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}

<button><a href="members/new">Add a new Member</a></button>



{% endblock %}