{% extends "layout.html" %}
{% block content %}

<h1> Booking Page</h1>

{% for booking in bookings %}
<section>
    <p>Member - {{ booking.member.name }} </p>
    <p>Session - {{ booking.session.name }} </p>
    <p>Date - {{booking.session.date}} </p>
    <p>Time - {{booking.session.time}}</p>
    <button><a href="/bookings/{{ booking.id }}/edit">Edit Bookings</a></button>    
    <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}

<button><a href="bookings/new">Add a new Booking</a></button>    



{% endblock %}