{% extends "layout.html" %}
{% block content %}

<h1> Booking Page</h1>

{% for booking in bookings %}
<section>
    <p>Member - {{ booking.member.name }} Session - {{ booking.session.name }} Date - {{booking.session.date}} Time - {{booking.session.time}}</p>
    <a href="/bookings/{{ booking.id }}/edit">Edit Bookings</a>
    <form action="/bookings/{{ bookings.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}

<a href="bookings/new">Add a new Booking</a>
<!-- <a href="members/edit">Edit Membership</a> -->


{% endblock %}