{% extends "layout.html" %}

{% block content %}

<header>

<h1>Welcome to Average Joes Gymnasium </h1>


</header>

<body>
    <ul>
        <button><a class = button href="/">Home</a></button>
        <button><a class = button href="/members">Members</a></button>
        <button><a class = button href="/sessions">Sessions</a></button>
        <button><a class = button href="/bookings">Bookings</a></button>
        <!-- <a href="/instructors">Instructors</a> -->
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac neque eu mi sodales fermentum. Nunc rhoncus molestie sapien id pharetra. Sed eget ipsum bibendum, vulputate dui molestie, euismod orci. 
        Quisque imperdiet maximus magna hendrerit eleifend. Quisque eget libero molestie, vehicula odio eget, viverra erat. Phasellus sodales a lacus in auctor. Curabitur in purus convallis, dictum nisi non, 
        congue nibh. Sed sapien nisl, egestas vel pulvinar ut, euismod eu nulla. Donec justo mi, pharetra ut tellus eget, accumsan mollis ligula. Maecenas nec vehicula metus. Pellentesque habitant morbi tristique 
        senectus et netus et malesuada fames ac turpis egestas. Pellentesque accumsan finibus augue, non venenatis lacus aliquet quis. Vestibulum non arcu et nunc mollis volutpat. Donec ac nisi at nisi ultrices laoreet. 
        In arcu est, egestas quis eros porta, molestie pulvinar erat. </p>

    <p>Vestibulum ut consequat libero. Nulla faucibus orci et tortor ullamcorper, vitae tincidunt mi feugiat. Donec gravida ex facilisis malesuada faucibus. In at volutpat ligula. Class aptent taciti sociosqu ad litora 
        torquent per conubia nostra, per inceptos himenaeos. Donec blandit augue lobortis, porta ex a, ornare ex. Pellentesque et nisi a sapien consequat elementum. Donec vitae venenatis turpis, nec ornare sem. Integer malesuada, 
        lorem ac pretium feugiat, ligula metus volutpat ante, nec congue ante elit quis arcu. Vestibulum vitae feugiat leo. Etiam iaculis tristique ipsum. Nunc id vehicula magna, at dapibus nunc. Ut tempus nisl vel nisl convallis 
        cursus. Morbi condimentum dolor ac lacinia lacinia. </p>
        
    <p>Phasellus mollis elit nec lacus lacinia volutpat. Praesent tristique egestas mauris, ut luctus ante feugiat vitae. Etiam et tortor a augue iaculis lobortis quis sodales purus. Sed vitae egestas lectus, a tempor erat. Duis 
        egestas vestibulum nisi. Maecenas id suscipit nulla, sit amet fermentum urna. Curabitur id ex dictum, congue sem sit amet, faucibus sem. Donec pharetra, massa eget aliquet porttitor, nunc ipsum elementum lacus, non porta sem 
        quam vitae elit.</p>


</body>


{% endblock %}