<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Average Joes </title>
</head>
<body>
    {% block content %}

    {% endblock %}
    
</body>
<footer>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/members">Members</a>
            <a href="/sessions">Sessions</a>
            <a href="/bookings">Bookings</a>
            <a href="/instructors">Instructors</a>
        </li>
    </ul>
</footer>
</html>